@using DailyJobStarterPack.DataBaseObjects
@using DailyJob.Helpers
@using DailyJobStarterPack.Web.ViewModels.Security;
@using DataBaseCommunication.Mappers.Response.Creations

@model CurrentCreationsResponse

<div class="row" style="margin-top: 50px;">
    <div class="col-md-11">
        <a class="btn btn-success btn-xs" href="@Url.Action("Create", "Creations")">
            <span class="glyphicon glyphicon-plus"></span> Unseite novu ponudu
        </a>
        <a class="btn btn-success btn-xs" id="popup-button" href="#">
            <span class="glyphicon glyphicon-filter"></span> Pretrazi ponude
        </a>
    </div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-md-5">
        Trenutno DOO: @Model.Creations.Count(x => x.ClientType == ClientType.DOO)
        <br />
        Trenutno preduzetnici: @Model.Creations.Count(x => x.ClientType == ClientType.Preduzetnik)
         <br />
        Trenutno udruzenja: @Model.Creations.Count(x => x.ClientType == ClientType.Udruzenje)
    </div>
    <div class="col-md-5">
        Trenutno potvrdjenih: @Model.Creations.Count(x => x.IsAnswerSuccesful)
        <br />
        Trenutno obradjenih: @Model.Creations.Count(x => x.IsDone)
        <br />
        Trenutno poslat mail: @Model.Creations.Count(x => x.IsMailSent)
        <br />
        Trenutno placeno: @Model.Creations.Count(x => x.IsPaid)
    </div>
</div>

<div class="row" style="margin-top: 10px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <div class="col-md-11">
                        Aktivne ponude osnivanja
                    </div>
                    <div class="col-md-1 task-number task-number-active">
                        <span style="margin-left: -5px">@Model.Creations.Count(x => !x.IsDone)</span>
                    </div>
                </h4>
                <div class="row">
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped" style="border: 1px solid black;">
                        <tr>
                            @if (SessionData.User.Role == Role.Admin)
                            {
                                <th></th>
                            }
                            <th>Datum ponude</th>
                            <th>Tip posla</th>
                            <th>Datum slanja formulara</th>
                            <th>Ime klijenta</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Tip klijenta</th>
                            <th>Status</th>
                            <th>Procenat zavrsenosti</th>
                            <th>Opcije</th>
                        </tr>
                        <tbody>
                            @foreach (var creation in Model.Creations.Where(x => !x.IsDone).OrderByDescending(x => x.CreationDate))
                            {
                                var proccessingPercent = (decimal)0;
                                if (creation.Services.Any())
                                {
                                    proccessingPercent = decimal.Round((decimal)creation.ServicesDone.Count / creation.Services.Count, 2, MidpointRounding.AwayFromZero) * 100;
                                }
                                var serviceNames = "";
                                creation.Services.ForEach(x => serviceNames += x.ServiceName + "<br>");
                                <tr>
                                    @if (SessionData.User.Role == Role.Admin)
                                    {
                                        <td>
                                            <button class="btn btn-danger btn-xs confirm-delete" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-trash"></span> Obrisi
                                            </button>
                                        </td>
                                    }
                                    <td>@creation.CreationDate</td>
                                    <td>@Html.Raw(serviceNames)</td>
                                    <td>@(creation.FormularDate == null || creation.FormularDate == DateTime.MinValue ? "-" : creation.FormularDate.ToShortDateString())</td>
                                    <td>@creation.Name</td>
                                    <td>@creation.Mail</td>
                                    <td>@creation.PhoneNumber</td>
                                    <td>@ResourcesHelper.GetClientType(creation.ClientType)</td>
                                    <td>@ResourcesHelper.GetClientStatus(creation.Status)</td>
                                    <td>@proccessingPercent %</td>
                                    <td>
                                        @if (!creation.IsMailSent)
                                        {
                                            <button class="btn btn-info btn-xs btn-block show-send-mail" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-envelope"> Posalji mail</span>
                                            </button>
                                        }
                                        @if (!creation.IsAnswerSuccesful)
                                        {
                                            <button class="btn btn-success btn-xs btn-block show-answer-sucess" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-ok"> Potvrdio</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("PrintDocuments", "Creations", new { creationId = creation.CreationId })" class="btn btn-info btn-xs btn-block" data-id="@creation.CreationId">
                                                Preuzmi sablone
                                            </a>
                                        }

                                        @if (!creation.IsPaid)
                                        {
                                            <button class="btn btn-default btn-xs btn-block show-paid" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-euro"> Placeno</span>
                                            </button>
                                        }

                                        @if (creation.PaymentMethod == 4)
                                        {
                                            <button class="btn btn-default btn-xs btn-block create-payment-bill" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-euro"> Faktura</span>
                                            </button>
                                        }

                                        @if (!creation.IsDone)
                                        {
                                            <button class="btn btn-default btn-xs btn-block show-done" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-remove"> Uradjeno</span>
                                            </button>
                                        }

                                        <a href="@Url.Action("UpdateCreation", "Creations", new { CreationId = creation.CreationId})" class="btn btn-danger btn-xs btn-block">
                                            Izmeni <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="margin-bottom: 50px; margin-top: 50px;">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <div class="col-md-11">
                        Zavrsene ponude osnivanja
                    </div>
                    <div class="col-md-1 task-number">
                        <span style="margin-left: -5px">@Model.Creations.Count(x => x.IsDone)</span>
                    </div>
                </h4>
                <div class="row">
                </div>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table id="mytable" class="table table-bordred table-striped" style="border: 1px solid black;">
                        <tr>
                            @if (SessionData.User.Role == Role.Admin)
                            {
                                <th></th>
                            }
                            <th>Datum osnivanja</th>
                            <th>Tip posla</th>
                            <th>Datum slanja formulara</th>
                            <th>Ime klijenta</th>
                            <th>Email</th>
                            <th>Telefon</th>
                            <th>Tip klijenta</th>
                            <th>Opcije</th>
                        </tr>
                        <tbody>
                            @foreach (var creation in Model.Creations.Where(x => x.IsDone).OrderByDescending(x => x.CreationDate))
                            {
                                var serviceNames = "";
                                creation.Services.ForEach(x => serviceNames += x.ServiceName + "<br>");
                                <tr>
                                    @if (SessionData.User.Role == Role.Admin)
                                    {
                                        <td>
                                            <button class="btn btn-danger btn-xs confirm-delete" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-trash"></span> Obrisi
                                            </button>
                                        </td>
                                    }
                                    <td>@creation.CreationDate</td>
                                    <td>@Html.Raw(serviceNames)</td>
                                    <td>@creation.FormularDate</td>
                                    <td>@creation.Name</td>
                                    <td>@creation.Mail</td>
                                    <td>@creation.PhoneNumber</td>
                                    <td>@ResourcesHelper.GetClientType(creation.ClientType)</td>
                                    <td>
                                        @if (!creation.IsMailSent)
                                        {
                                            <button class="btn btn-info btn-xs btn-block show-send-mail" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-envelope"> Posalji mail</span>
                                            </button>
                                        }
                                        @if (!creation.IsAnswerSuccesful)
                                        {
                                            <button class="btn btn-success btn-xs btn-block show-answer-sucess" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-ok"> Potvrdi odgovor</span>
                                            </button>
                                        }
                                        else
                                        {
                                            <a href="@Url.Action("PrintDocuments", "Creations", new { creationId = creation.CreationId })" class="btn btn-info btn-xs btn-block" data-id="@creation.CreationId">
                                                Preuzmi sablone
                                            </a>
                                        }

                                        @if (!creation.IsPaid)
                                        {
                                            <button class="btn btn-default btn-xs btn-block show-paid" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-euro"> Placeno</span>
                                            </button>
                                        }

                                        @if (!creation.IsDone)
                                        {
                                            <button class="btn btn-default btn-xs btn-block show-done" data-id="@creation.CreationId">
                                                <span class="glyphicon glyphicon-remove"> Uradjeno</span>
                                            </button>
                                        }

                                        <a class="btn btn-danger btn-xs btn-block" data-id="@creation.CreationId">
                                            Upit <span class="glyphicon glyphicon-chevron-right"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--POP UPS-->
<div id="send-mail" class="modal hide overlay">
    <div class="popup">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close">&times;</a>
            <h3>Slanje maila</h3>
        </div>
        <div class="modal-body">
            <p>Nakon sto jednom posaljete mail, ne mozete obustaviti ovu akciju</p>
            <p>Da li ste sigurni da zelite da nastavite?</p>
        </div>
        <div class="modal-footer">
            <a href="" class="btn danger" id="send-mail-confirm">Da</a>
            <a href="#" data-dismiss="modal" class="btn secondary">Ne</a>
        </div>
    </div>
</div>

<div id="answer-sucess" class="modal hide overlay">
    <div class="popup">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close">&times;</a>
            <h3>Prihvatanje ponude</h3>
        </div>
        <div class="modal-body">
            <p>Ovo je trajna izmena.</p>
            <p>Da li ste sigurni klijent prihvatio ponudu?</p>
        </div>
        <div class="modal-footer">
            <a href="" class="btn danger" id="answer-sucess-confirm">Da</a>
            <a href="#" data-dismiss="modal" class="btn secondary">Ne</a>
        </div>
    </div>
</div>

<div id="paid-sucess" class="modal hide overlay">
    <div class="popup">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close">&times;</a>
            <h3>Placanje klijenta</h3>
        </div>
        <div class="modal-body">
            <p>Ovo je trajna izmena.</p>
            <p>Da li ste sigurni da zelite da oznacite da je klijent platio?</p>
            <p>
                <label class="radio-inline" for="payment-status-1">Kartica</label>
                <input type="radio" id="payment-status-1" name="payment-status" value="1" />
            </p>
            <p>
                <label class="radio-inline" for="payment-status-2">Kes</label>
                <input type="radio" id="payment-status-2" name="payment-status" value="2" />
            </p>
            <p>
                <label class="radio-inline" for="payment-status-3">Faktura</label>
                <input type="radio" id="payment-status-3" name="payment-status" value="3" />
            </p>

            <div id="company-div">
                <p>Odaberite firmu sa koje ce se vrsiti fakturisanje:</p>
                @foreach (var firm in SessionData.Firms)
                {
                    <label class="radio" for="Firm-@firm.FirmId">
                        <input type="radio" name="Firm" id="Firm-@firm.FirmId" value="@firm.FirmId">
                        @firm.FirmName
                    </label>
                }
            </div>
        </div>
        <div class="modal-footer">
            <a href="" class="btn danger" id="paid-sucess-confirm">Da</a>
            <a href="#" data-dismiss="modal" class="btn secondary">Ne</a>
        </div>
    </div>
</div>

<div id="done-sucess" class="modal hide overlay">
    <div class="popup">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close">&times;</a>
            <h3>Prebaci u zavreseno</h3>
        </div>
        <div class="modal-body">
            <p>Ovo je trajna izmena.</p>
            <p>Da li ste sigurni da zelite da prebacite u zavresno?</p>
        </div>
        <div class="modal-footer">
            <a href="" class="btn danger" id="done-sucess-confirm">Da</a>
            <a href="#" data-dismiss="modal" class="btn secondary">Ne</a>
        </div>
    </div>
</div>

<div id="modal-from-dom" class="modal hide overlay">
    <div class="popup">
        <div class="modal-header">
            <a href="#" data-dismiss="modal" class="close">&times;</a>
            <h3>Brisanje ponude</h3>
        </div>
        <div class="modal-body">
            <p>Trajno cete obrisati ponudu iz sistema.</p>
            <p>Da li ste sigurni da zelite da nastavite?</p>
        </div>
        <div class="modal-footer">
            <a href="" class="btn danger" id="delete-confirm">Da</a>
            <a href="#" data-dismiss="modal" class="btn secondary">Ne</a>
        </div>
    </div>
</div>


<div id="popup1" class="overlay" style="display:none;">
    <br />
    <div class="popup popup-form">
        @using (Html.BeginForm("Index", "Creations", FormMethod.Post, new { @class = "form-horizontal", role = "form", id = "clientsForm" }))
        {
            <h2>Pretraga ponuda</h2>
            <a class="close" href="javascript: hidePopUp()">&times;</a>
            <div class="content">
                <fieldset>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="Name">Naziv</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-user">
                                    </i>
                                </div>
                                <input id="Name" name="Name" type="text" class="form-control input-md" value="@Model.CreationsSearchCriteria.Name">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="DateFrom">Datum od</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-briefcase">
                                    </i>
                                </div>
                                <input id="DateFrom" name="DateFrom" type="text" class="form-control input-md" value="@Model.CreationsSearchCriteria.DateFrom" autocomplete="off">
                                <script>
                                    $(function () {
                                        $("#DateFrom").datepicker();
                                    });
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="DateTo">Datum do</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <div class="input-group-addon">
                                    <i class="fa fa-briefcase">
                                    </i>
                                </div>
                                <input id="DateTo" name="DateTo" type="text" class="form-control input-md" value="@Model.CreationsSearchCriteria.DateTo" autocomplete="off">
                                <script>
                                    $(function () {
                                        $("#DateTo").datepicker();
                                    });
                                </script>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="ClientType">Vrsta klijenta</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="ClientType-0">
                                <input type="radio" name="ClientType" id="ClientType-0" value="@((int)ClientType.DOO)" @(Model.CreationsSearchCriteria.ClientType != null && (ClientType)Model.CreationsSearchCriteria.ClientType == ClientType.DOO ? "checked" : "")>
                                @ResourcesHelper.GetClientType(ClientType.DOO)
                            </label>
                            <label class="radio-inline" for="ClientType-1">
                                <input type="radio" name="ClientType" id="ClientType-1" value="@((int)ClientType.Preduzetnik)" @(Model.CreationsSearchCriteria.ClientType != null && (ClientType)Model.CreationsSearchCriteria.ClientType == ClientType.Preduzetnik ? "checked" : "")>
                                @ResourcesHelper.GetClientType(ClientType.Preduzetnik)
                            </label>
                            <label class="radio-inline" for="ClientType-2">
                                <input type="radio" name="ClientType" id="ClientType-2" value="@((int)ClientType.Udruzenje)" @(Model.CreationsSearchCriteria.ClientType != null && (ClientType)Model.CreationsSearchCriteria.ClientType == ClientType.Udruzenje ? "checked" : "")>
                                @ResourcesHelper.GetClientType(ClientType.Udruzenje)
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="IsPaid">Placeno</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="IsPaid-0">
                                <input type="radio" name="IsPaid" id="IsPaid-0" value="false" @(Model.CreationsSearchCriteria.IsPaid != null && Model.CreationsSearchCriteria.IsPaid == false ? "checked" : "")>
                                NE
                            </label>
                            <label class="radio-inline" for="IsPaid-1">
                                <input type="radio" name="IsPaid" id="IsPaid-1" value="true" @(Model.CreationsSearchCriteria.IsPaid != null && Model.CreationsSearchCriteria.IsPaid == true ? "checked" : "")>
                                DA
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="IsConfirmed">Potvrdjeno</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="IsConfirmed-0">
                                <input type="radio" name="IsConfirmed" id="IsConfirmed-0" value="false" @(Model.CreationsSearchCriteria.IsConfirmed != null && Model.CreationsSearchCriteria.IsConfirmed == false ? "checked" : "")>
                                NE
                            </label>
                            <label class="radio-inline" for="IsConfirmed-1">
                                <input type="radio" name="IsConfirmed" id="IsConfirmed-1" value="true" @(Model.CreationsSearchCriteria.IsConfirmed != null && Model.CreationsSearchCriteria.IsConfirmed == true ? "checked" : "")>
                                DA
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="IsCanceled">Otkazano</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="IsCanceled-0">
                                <input type="radio" name="IsCanceled" id="IsCanceled-0" value="false" @(Model.CreationsSearchCriteria.IsCanceled != null && Model.CreationsSearchCriteria.IsCanceled == false ? "checked" : "")>
                                NE
                            </label>
                            <label class="radio-inline" for="IsCanceled-1">
                                <input type="radio" name="IsCanceled" id="IsCanceled-1" value="true" @(Model.CreationsSearchCriteria.IsCanceled != null && Model.CreationsSearchCriteria.IsCanceled == true ? "checked" : "")>
                                DA
                            </label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-4 control-label" for="IsCompleted">Uradjeno</label>
                        <div class="col-md-4">
                            <label class="radio-inline" for="IsCompleted-0">
                                <input type="radio" name="IsCompleted" id="IsCompleted-0" value="false" @(Model.CreationsSearchCriteria.IsCompleted != null && Model.CreationsSearchCriteria.IsCompleted == false ? "checked" : "")>
                                NE
                            </label>
                            <label class="radio-inline" for="IsCompleted-1">
                                <input type="radio" name="IsCompleted" id="IsCompleted-1" value="true" @(Model.CreationsSearchCriteria.IsCompleted != null && Model.CreationsSearchCriteria.IsCompleted == true ? "checked" : "")>
                                DA
                            </label>
                        </div>
                    </div>

                </fieldset>
            </div>
            <div class="modal-footer">
                <a href="javascript: hidePopUp()" data-dismiss="modal" class="btn secondary">Odustani</a>
                <a href="javascript: submitForm('clientsForm')" data-dismiss="modal" class="btn secondary">U redu</a>
            </div>
        }
    </div>
</div>

<script>
    $('#send-mail').on('show', function () {
        var id = $(this).data('id'),
            removeBtn = $(this).find('#send-mail-confirm');

        removeBtn.attr('href', 'javascript: SendMail(' + id + ')');
    });

    $('.show-send-mail').on('click', function (e) {
        e.preventDefault();

        var id = $(this).data('id');
        $('#send-mail').data('id', id).modal('show').trigger('show');
    });

    function SendMail(id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("SendMail", "Creations")",
           data: { 'creationId': id},
           dataType: "json",
           success: function (result) {
               debugger;

               if (result.IsSucessful)
               {
                   $('.modal-body').html('<p>Uspesno ste poslali mail.</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
               else
               {
                   $('.modal-body').html('<p>' + result.ResponseDescription + '</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
           },
           error: function(response){
               $('.modal-body').html('<p>Doslo je do greske prilkom slanja mail-a.</p>')
               $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
           }
        });
    }


    $('#answer-sucess').on('show', function () {
        var id = $(this).data('id'),
            removeBtn = $(this).find('#answer-sucess-confirm');

        removeBtn.attr('href', 'javascript: UpdateAnswerStatus(' + id + ')');
    });

    $('.show-answer-sucess').on('click', function (e) {
        e.preventDefault();

        var id = $(this).data('id');
        $('#answer-sucess').data('id', id).modal('show').trigger('show');
    });

    function UpdateAnswerStatus(id) {
         $.ajax({
           type: "POST",
           url: "@Url.Action("UpdateAnswerStatus", "Creations")",
           data: { 'creationId': id},
           dataType: "json",
           success: function (result) {
               if (result.IsSucessful)
               {
                   $('.modal-body').html('<p>Uspesno ste izmenili status odgovora.</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
               else
               {
                   $('.modal-body').html('<p>' + result.ResponseDescription + '</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
           },
           error: function(response){
               $('.modal-body').html('<p>Doslo je do greske prilkom izmene statusa odgovora.</p>')
               $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
           }
        });
    }

    $('#paid-sucess').on('show', function () {
        var id = $(this).data('id'),
            removeBtn = $(this).find('#paid-sucess-confirm');

        removeBtn.attr('href', 'javascript: UpdatePaymentStatus(' + id + ')');
    });

    $('.show-paid').on('click', function (e) {
        e.preventDefault();

        var id = $(this).data('id');
        $('#paid-sucess').data('id', id).modal('show').trigger('show');
    });

    function UpdatePaymentStatus(id) {
        var type = $('input[name=payment-status]:checked').val();
        var companyId = $('input[name=Firm]:checked').val();

         $.ajax({
           type: "POST",
           url: "@Url.Action("UpdatePaymentStatus", "Creations")",
           data: 'creationId=' + id + '&type=' + type + '&companyId=' + companyId,
           dataType: "json",
           success: function (result) {
               debugger;

               if (result.IsSucessful)
               {
                   if (result.CompanyForBill != 0) {
                       $('.modal-body').html('<p>Uspesno ste izmenili statu placanja.</p>')
                       $('.modal-footer').html('<a href="@Url.Action("CreateBillForCreation", "Bills")?companyId=' + result.CompanyForBill + '&creationId=' + result.CreationId + '" class="btn secondary">Kreiraj fakturu</a>');
                   }
                   else {
                       $('.modal-body').html('<p>Uspesno ste izmenili statu placanja.</p>')
                       $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
                   }
               }
               else
               {
                   $('.modal-body').html('<p>' + result.ResponseDescription + '</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
           },
           error: function(response){
               $('.modal-body').html('<p>Doslo je do greske prilkom izmene statusa placanja.</p>')
               $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
           }
        });
    }

    $('#done-sucess').on('show', function () {
        var id = $(this).data('id'),
            removeBtn = $(this).find('#done-sucess-confirm');

        removeBtn.attr('href', 'javascript: UpdateDoneStatus(' + id + ')');
    });

    $('.show-done').on('click', function (e) {
        e.preventDefault();

        var id = $(this).data('id');
        $('#done-sucess').data('id', id).modal('show').trigger('show');
    });

    function UpdateDoneStatus(id) {
         $.ajax({
           type: "POST",
           url: "@Url.Action("UpdateDoneStatus", "Creations")",
           data: { 'creationId': id},
           dataType: "json",
           success: function (result) {
               debugger;

               if (result.IsSucessful)
               {
                   $('.modal-body').html('<p>Uspesno ste izmenili status zavrsenosti.</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
               else
               {
                   $('.modal-body').html('<p>' + result.ResponseDescription + '</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
           },
           error: function(response){
               $('.modal-body').html('<p>Doslo je do greske prilkom izmene statusa zavresenosti.</p>')
               $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
           }
        });
    }

    $('#modal-from-dom').on('show', function () {
        var id = $(this).data('id'),
            removeBtn = $(this).find('#delete-confirm');

        removeBtn.attr('href', 'javascript: DeleteCreation(' + id + ')');
    });

    $('.confirm-delete').on('click', function (e) {
        e.preventDefault();

        var id = $(this).data('id');
        $('#modal-from-dom').data('id', id).modal('show').trigger('show');
    });


    function DeleteCreation(id) {
         $.ajax({
           type: "POST",
           url: "@Url.Action("DeleteCreation", "Creations")",
           data: { 'CreationId': id},
           dataType: "json",
           success: function (result) {
               if (result.IsSucessful)
               {
                   $('.modal-body').html('<p>Uspesno ste obrisali ponudu iz sistema.</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
               else
               {
                   $('.modal-body').html('<p>' + result.ResponseDescription + '</p>')
                   $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
               }
           },
           error: function (response) {
               $('.modal-body').html('<p>Doslo je do greske prilkom brisanja ponude iz sistema.</p>')
               $('.modal-footer').html('<a href="javascript: window.location.reload()" class="btn secondary">U redu</a>');
           }
        });
    }


    $(document).ready(function () {
        $("#popup-button").on("click", function () {
            $("#popup1").css("display", "block");
        });

        $('#company-div').hide();
    });

    function submitForm(formId) {
        $("#" + formId).submit();
    }

    function hidePopUp() {
        $("#popup1").css("display", "none");
    }

    $('input[type=radio][name=payment-status]').change(function () {
        if (this.value == '3') {
            $('#company-div').show();
        }
        else
        {
            $('#company-div').hide();
        }
    });
</script>
